
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,300;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    width: 1200px;
    background-color: black;
    
}

nav{
    width: 100%;
   height: 600px;
    display: flex;
    position: absolute;
    

}
nav ul{
   width: 25%;
   position: relative; 
}
nav ul:first-child{
    background-color: rgb(236, 26, 96);
}
nav ul:nth-child(2){
    background-color: rgb(245, 146, 129);
}
nav ul:nth-child(3){
    background-color: bisque;
}
nav ul:last-child{
    background-color: aquamarine;
}

nav li a{
    text-decoration: none;
    font-family: 'Tourney', cursive;
    text-shadow: 1px 1px 2px black;
}

nav li,
a{
    color: white;

}

/*  no conseguía dar ancho al bloque porque a es un elemento de línea */
nav ul a{
    display: inline-block;
    width: 100px;
}

nav li{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
/*     background-color: blue;  */  
    z-index: 2;
}


nav li .about{
    background-color: rgb(236, 26, 96);
}
nav li .skills{
    background-color: rgb(245, 146, 129);
}
nav li .works{
    background-color: bisque;
}
nav li .contact{
    background-color: aquamarine;
} 



nav li p{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 0px red;
    visibility: hidden;
}


nav ul:hover p{
    visibility: visible;
    margin-top: 10px;
}

nav ul:hover .linea1, nav ul:hover .linea2, nav ul:hover .linea3, nav ul:hover .linea4{
    
    position:absolute;
    background-color: white;
    width: 100%;
    height: 1px;
    z-index: 1;
    top: 49%;
    left: 50%;
    transform: translate(-50%,-50%);


}








